/vendor
/node_modules
/nova-components/alexbowers/nova-prepopulate-searchable/node_modules
/public/hot
/public/storage
/storage/*.key
/public/build
/public/js
/public/css
/storage/*.key
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
.vagrant
